/* Importacion de la fuente "Press Start 2P" desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Estilos para todos los caracteres textuales */
* {
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    line-height: 1.8;
    color: white;
}

p {
    font-size: 12px;
}

body{
    background-image: url('../imagenes/fondo_game.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#apoyo {
    color: green;
    margin-left: 100px;
    text-align: center;
    padding: 10px;
    margin-left: 800px;
}

#apoyo td {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    line-height: 0.7;  /* reduce la altura entre filas */
}


h1 {
    text-align: center;
    color: green;
    font-size: 20px;
}

#descripccion {
    text-align: center;
}

.y button{
  border: 2px solid rgb(255, 255, 255);
  background-color: #003b00;
  text-align: center;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.y {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  width: 800px;
  margin-left: 500px;
}


/* estilos para el pie de pagina */
#footer {
    text-align: center;
    background-color: #003b00;
    margin-bottom: 20px;
}